<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal">

<!-- enable app.nt core layout renders-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>	
		
<!-- the targets to write to-->
    <targets>
		<!--write logs to file-->
		 <target name="exceptions" xsi:type="File" fileName="c:\OcenyApilogs\nlog-allexceptions-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>		

        <target name="allfile" xsi:type="File" fileName="c:\OcenyApilogs\nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>
	
	<target name="request" xsi:type="File" fileName="c\OcenyApilogs\request-time.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}"/>
    </targets>

	
	<!--rules to map from logger name to target-->
    <rules>
		<!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="oceny5._0.*" minlevel="Error" writeTo="exceptions" />
		<logger name="oceny5._0.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request" />
    </rules>
</nlog>